<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<h1 th:text="${blog.id} == null ? 'Create Blog' : 'Edit Blog'"></h1>
<form action="/blogs/create" method="post" th:object="${blog}">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{createdAt}"/>
    <input type="hidden" th:field="*{updatedAt}"/>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <select class="form-control" name="categoryId" id="categoryId" th:value="${selectedCategoryId}">
        <option th:each="category : ${categories}"
                th:value="${category.id}"
                th:text="${category.name}"
                th:selected="${selectedCategoryId != null and selectedCategoryId == category.id}">
        </option>
    </select>

    Title: <input type="text" th:field="*{title}"/><br/>
    Content: <textarea th:field="*{content}"></textarea><br/>
    <button type="submit">Save</button>
</form>

</body>
</html>